{% extends 'base.html' %}

{% load static %}

{% block customcss %}
<link href="{% static 'list.css' %}" rel="stylesheet">
{% endblock customcss %}


{% block content %}
    <div id="div_container">

        <div id="div_header" style="text-align: center;">
            <h1>{{talkTo.username}}</h1>
        </div>

        <div id="div_main">
            <div id="div_join_screen">
                <!-- エンターキーによるボタン押下を行うために、<button>ではなく<form>と<input type="submit">を使用。
                ボタン押下(=submit)時にページリロードが行われないように、onsubmitの設定の最後に"return false;"を追加。-->
                <br>
                <form action="" onsubmit="onsubmitButton_JoinChat(); return false;"
                    style="text-align: center; width: 100%;">
                    <input type="hidden" id="input_username" placeholder="Enter User name" value="{{user.username}}" autofocus>
                    <input type="hidden" id="input_roomname" placeholder="Enter Room name" value="{{room}}">
                    <input type="submit" id="autoClick" value="Join Chat" />
                </form>
                <br>
            </div>

            <div id="div_chat_screen" style="display: none;">
                <!-- <button onclick="onclickButton_LeaveChat()">Leave Chat.</button><br /> -->
                <input type="hidden" id="text_username" readonly="readonly"><br />
                <input type="hidden" id="text_roomname" readonly="readonly"><br />
                <!-- エンターキーによるボタン押下を行うために、<button>ではなく<form>と<input type="submit">を使用。
                ボタン押下(=submit)時にページリロードが行われないように、onsubmitの設定の最後に"return false;"を追加。-->
                <ul id="list_message"></ul>
                <br>
                <form action="" id="message-form" onsubmit="onsubmitButton_Send(); return false;">
                    <!-- Message : <input type="text" id="input_message" autocomplete="off" autofocus /><input type="submit"
                        value="Send" /> -->

                        Message : <input type="text" id="input_message" autocomplete="off" autofocus/><input id="message-submit" type="submit"
                        value="Send"/>
                        <input type="hidden" id="input_user_id" value={{user.id}}>
                        <input type="hidden" id="input_talk_user_id" value={{talkTo.id}}>
                        
                </form>
                <br>
                <!-- <ul id="list_message"></ul> -->

            </div>
        </div>
    </div>

    <script>
        const g_elementDivJoinScreen = document.getElementById("div_join_screen");
        const g_elementDivChatScreen = document.getElementById("div_chat_screen");
        const g_elementInputUserName = document.getElementById("input_username");
        const g_elementInputRoomName = document.getElementById("input_roomname");

        const g_elementTextUserName = document.getElementById("text_username");
        const g_elementTextRoomName = document.getElementById("text_roomname");

        const g_elementInputMessage = document.getElementById("input_message");
        const g_elementListMessage = document.getElementById("list_message");

        // WebSocketオブジェクト
        let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        const g_socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/chat/");

        // 「Join」ボタンを押すと呼ばれる関数
        function onsubmitButton_JoinChat() {
            // ユーザー名
            let strInputUserName = g_elementInputUserName.value;
            if (!strInputUserName) {
                return;
            }
            g_elementTextUserName.value = strInputUserName;

            // ルーム名
            let strInputRoomName = g_elementInputRoomName.value;
            g_elementTextRoomName.value = strInputRoomName;

            // サーバーに"join"を送信
            g_socket.send(JSON.stringify({ "data_type": "join", "username": strInputUserName, "roomname": strInputRoomName }));

            // 画面の切り替え
            g_elementDivJoinScreen.style.display = "none";  // 参加画面の非表示
            g_elementDivChatScreen.style.display = "block";  // チャット画面の表示
          

        }

        // 「Leave Chat.」ボタンを押すと呼ばれる関数
        function onclickButton_LeaveChat() {
            // メッセージリストのクリア
            while (g_elementListMessage.firstChild) {
                g_elementListMessage.removeChild(g_elementListMessage.firstChild);
            }

            // ユーザー名
            g_elementTextUserName.value = "";

            // サーバーに"leave"を送信
            g_socket.send(JSON.stringify({ "data_type": "leave" }));

            // 画面の切り替え
            g_elementDivChatScreen.style.display = "none";  // チャット画面の非表示
            g_elementDivJoinScreen.style.display = "flex";  // 参加画面の表示
        }

        // 「Send」ボタンを押したときの処理
        function onsubmitButton_Send() {
            // 送信用テキストHTML要素からメッセージ文字列の取得
            let strMessage = g_elementInputMessage.value;
            if (!strMessage) {
                return;
            }

            // WebSocketを通したメッセージの送信            
            g_socket.send(JSON.stringify({ 
                                "message": strMessage,
                                "user_id": document.getElementById("input_user_id").value,
                                "talk_user_id":document.getElementById("input_talk_user_id").value,
                                "room":document.getElementById("input_roomname").value
                                            }));
            // g_socket.send(JSON.stringify({ 
            //                     "message": strMessage
            //                             }));

            // 送信用テキストHTML要素の中身のクリア
            g_elementInputMessage.value = "";
        }

        // WebSocketからメッセージ受信時の処理
        g_socket.onmessage = (event) => {
            // 自身がまだ参加していないときは、無視。
            if (!g_elementTextUserName.value) {
                return;
            }

            // テキストデータをJSONデータにデコード
            let data = JSON.parse(event.data);

            // メッセージの整形
            //let strMessage = data["message"];
            let strMessage = data["datetime"] + " - [" + data["username"] + "] " + data["message"];
            
            // 拡散されたメッセージをメッセージリストに追加
            let elementLi = document.createElement("li");
            elementLi.textContent = strMessage;
            g_elementListMessage.prepend(elementLi); // リストの一番上に追加
            //g_elementListMessage.append( elementLi );    // リストの一番下に追加
        };

        // WebSocketクローズ時の処理
        g_socket.onclose = (event) => {
            // ウェブページを閉じたとき以外のWebSocketクローズは想定外
            console.error("Unexpected : Chat socket closed.");
        };
    </script>
    <!-- <script>
        window.onload = function() {
            if (window.name != "any") {
                document.getElementById("autoClick").click();
                window.name = "any";
            } else {
                window.name = "";
            }
            // document.getElementById("autoClick").click();
        }
    </script> -->

    {% endblock content %}