{% extends 'base.html' %}

{% load static %}

{% block customcss %}
<link href="{% static 'list.css' %}" rel="stylesheet">
{% endblock customcss %}


{% block content %}

<br>
{% if nextUser != None %}
<input type="hidden" id="matchingFlag" value="{{matchingFlag}}">
<div id="carouselExampleIndicators" class="carousel slide zoom" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <label class="w-100">
                <span class="w-100">
                    <img class="d-block mx-auto rounded shadow-lg" src="/medi/{{ nextUser.profile.image2 }}"
                        style="height: 500px; width: 1000px;">
                </span>
                <br><br>
            </label>
        </div>
        <div class="carousel-item">
            <label class="w-100">
                <span class="w-100">
                    <img class="d-block mx-auto rounded shadow" src="/medi/{{ nextUser.profile.image3 }}"
                        style="height: 500px; width: 1000px;">
                </span>
                <br><br>
            </label>
        </div>
        <div class="carousel-item">
            <label class="w-100">
                <span class="w-100">
                    <img class="d-block mx-auto rounded shadow" src="/medi/{{ nextUser.profile.image4 }}"
                        style="height: 500px; width: 1000px;">
                </span>
                <br><br>
            </label>
        </div>
        <div class="carousel-item">
            <label class="w-100">
                <span class="w-100">
                    <img class="d-block mx-auto rounded shadow" src="/medi/{{ nextUser.profile.image5 }}"
                        style="height: 500px; width: 1000px;">
                </span>
                <br><br>
            </label>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon shadow-lg rounded-circle p-1" style="background-color: #d0d0d0;"
            aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon shadow-lg rounded-circle p-1" style="background-color: #d0d0d0;"
            aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
<br>
<div class="mb-3">
  <div class="d-flex justify-content-around">        
    <button type="button" class="rounded-circle shadow-sm p-2 assimilation" onclick="location.href='{% url 'nope' nextUser.pk %}'" style="border: none; outline: none; background: #FFBAC3;" onMouseOut="this.style.background='#FFBAC3'" onMouseOver="this.style.background='rgba(255, 255, 255, .2)'">
        <i class="far fa-grin-beam-sweat nope fa-3x shadow rounded-circle p-2" style="color: #2CD8D5;"></i>
        </button>
        <h1>{{ nextUser.username }}</h1>
    <button type="button" class="rounded-circle shadow-sm p-2 assimilation" onclick="location.href='{% url 'like' nextUser.pk %}'" style="border: none; outline: none; background: #2CD8D5;" onMouseOut="this.style.background='#2CD8D5'" onMouseOver="this.style.background='rgba(255, 255, 255, .2)'">
        <i class="far fa-grin-hearts like fa-3x shadow rounded-circle p-2" style="color:#FFBAC3"></i>
        </button>
  </div>
  <div class="row text-center">
    <h3>{{ nextUser.profile.age }}歳</h3>
  </div>
    <br><br>
    <div class="row text-center">
    <h3>{{ nextUser.profile.introduction_text }}</h3>
    </div>
</div>
{% else %}
<br><br><br><br><br><br><br><br><br>
<div class="text-center">
<h1 class="zoom">表示できるユーザーがいません。</h1>
</div>
<br><br><br><br><br><br><br><br><br><br><br>
{% endif %}
<br>
{% endblock content %}