{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>マッチングBoard</h3>
</div>
{% endblock header %}

{% block content %}
<div class="container">
{% for item in machingList %}
<div class="alert alert-success" role="alert">
    <!--<p>ユーザー名:<a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>-->
    <span><img src="{{ item.profile.image }}"></span>
    <p>ユーザー名:{{ item.username }}</p>
    <p>年齢:{{ item.get_age }}</p>
    
    <a href="{% url 'like' item.pk %}" class="btn btn-primary active" role="button" area-pressed="true">この人と話す</a>
    
</div>
{% endfor %}
<a href="{% url 'logout' %}">logout</a>
</div>
{% endblock content %}