<!doctype html>
<html lang="en">
  <head>
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


    <title>マッチング！</title>
  </head>
  <!-- <body style="background-color: #F2BBD9;"> -->
    <!-- ここから -->
<style>
nav, h1{
  font-weight: bold;
}
    .fade {
    animation-name: fadein;

    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
from {
    opacity: 0;
    transform: translateY(20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
}

</style>
<!-- <body style="background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%)"> -->
<body style="background: #FFBAC3;">
  <nav class="navbar navbar-expand-lg navbar-light shadow-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="{% url 'list' %}" class="nav-link active">ホーム</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'matchinglist' %}" class="nav-link active">マッチングリストへ</a>
          </li>
          <li class="nav-item">

            <a href="{% url 'update' request.user.pk%}" class="nav-link active">プロフィール更新画面へ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout' %}">logout</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <br>
  <div class="container shadow-lg rounded">
<br>
<div class="text-center rounded" style="height: 100%; width: 100%;">
    <br>
    <h1 class="fade" style="color: #f2f2f2;">{{matchingUser.username}}さんとマッチングしました。お話しましょう！</h1>
    
    <br><br><br><br>
    <div id="carouselExampleIndicators" class="carousel slide fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <label class="w-100">
                    <span class="w-100">
                        <img class="d-block mx-auto rounded shadow-lg" src="/medi/{{ matchingUser.profile.image2 }}"
                            style="height: 250px; width: 500px;">
                    </span>
                    <br><br>
                </label>
            </div>
            <div class="carousel-item">
                <label class="w-100">
                    <span class="w-100">
                        <img class="d-block mx-auto rounded shadow" src="/medi/{{ matchingUser.profile.image3 }}"
                            style="height: 250px; width: 500px;">
                    </span>
                    <br><br>
                </label>
            </div>
            <div class="carousel-item">
                <label class="w-100">
                    <span class="w-100">
                        <img class="d-block mx-auto rounded shadow" src="/medi/{{ matchingUser.profile.image4 }}"
                            style="height: 250px; width: 500px;">
                    </span>
                    <br><br>
                </label>
            </div>
            <div class="carousel-item">
                <label class="w-100">
                    <span class="w-100">
                        <img class="d-block mx-auto rounded shadow" src="/medi/{{ matchingUser.profile.image5 }}"
                            style="height: 250px; width: 500px;">
                    </span>
                    <br><br>
                </label>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon shadow-lg rounded-circle p-1" style="background-color: #C5C1FF;"
                aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon shadow-lg rounded-circle p-1" style="background-color: #C5C1FF;"
                aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <div class="d-flex justify-content-around">
        <button type="button" class="rounded-circle shadow-sm p-2 assimilation" onclick="location.href='{% url 'list' %}'" style="border: none; outline: none; background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);" onMouseOut="this.style.background='linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%)'" onMouseOver="this.style.background='rgba(255, 255, 255, .2)'">
        <i class="fas fa-backspace fa-4x shadow rounded-circle p-2" style="color: #f2f2f2;"></i>
        </button>
        <form action="{% url 'chat' %}" method="post">{% csrf_token %}            
            <input type="hidden" name="talkToId" value="{{matchingUser.id}}">
            <button type="submit" class="rounded-circle shadow-sm p-2 assimilation" style="border: none; outline: none ; background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);" onMouseOut="this.style.background='linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%)'" onMouseOver="this.style.background='rgba(255, 255, 255, .2)'">
                <i class="fas fa-comments chat fa-4x shadow rounded-circle p-2" style="color: #FFBAC3;"></i>
            </button>            
        </form>
    </div>
    <br><br><br>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

  </div>
</body>
</html>