    html,
    body {
    height: 100%;    
    }

    body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    }

    .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }
    .form-signin .checkbox {
    font-weight: 400;
    }
    .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
    .form-signin .form-control:focus {
    z-index: 2;
    }
    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    .form-signin input[type="date"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      /* border: none; */
      outline: none;
      }

    input[type=submit] {
        font-family: FontAwesome;
      }

      .btn{
        background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
        border: none;
        outline: none;
        font-weight: bold;
      }

      .input-bold{
        font-weight: bold;
      }

      h1{
        font-weight: bold;
      }

      .zoom {
        animation: zoomIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) 1 forwards;
      }
       
      @keyframes zoomIn {
        0% {
          transform: scale(0.8);
          opacity: 0;
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    
    .fade2 {
        animation-name: fadein;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    @keyframes fadein {
    from {
        opacity: 0;
        /* transform: translateY(20px); */
    }
    to {
        opacity: 1;
        /* transform: translateY(0); */
    }
    }

    .top-op,.top-op2,.top-op3{
      position: fixed;
      top: 0;
      left: 0;
      margin: 0 auto;
      width: 100%;
      height: 100vh;
    }
    .top-op{
      z-index: 99;
      background: #2CD8D5;
      animation-duration: 1.2s;
      animation-delay:1.4s;
      animation-fill-mode: forwards;
      animation-name: top-op;
    }
    .top-op2{
      z-index: 100;
      background: #C5C1FF;
      animation-duration: 0.7s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      animation-name: top-op2;
    }

    .top-op3{
      z-index: 100;
      background: #FFBAC3;
      animation-duration: 0.7s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      animation-name: top-op2;
    }
     
    @keyframes top-op{
    0% {
      width: 100%;
      left:0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
      left: 100%;
    }
    }
    @keyframes top-op2{
    0% {
      width: 100%;
      left:0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
      left: 100%;
    }
    }
     